<!DOCTYPE html>
<html lang="en">
<head>
  <title>Editors Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>List of Subs</h2>
              
  <table class="table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Place</th>
        <th>Pay</th>
        <th>Courses</th>
        <th>Posted By</th>
        <th>Take it!</th>
        

      </tr>
    </thead>
    <tbody>
        {%for i in o%}
            <tr>
                <!-- <td><a href="{{i.id}}">{{i.id}}</a></td> -->
                <td>{{i.time}}</td>
                <td>{{i.where}}</td>
                <td>{{i.pay}}</td>
                <td>{{i.courses}}</td>
                <td>{{i.by}}</td>
                <td><a href = "{% url 'shift:take' i.pk %}" >Update status</a></td>
                
        {%endfor%}
    </tbody>
  </table>
</div>

</body>
</html> 

